.movie-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 8px;
  row-gap: 24px;
  margin: 0 auto 32px;
  justify-items: center;

  @media screen and (min-width: 520px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 767px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 1020px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media screen and (min-width: 1290px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}