.navigation-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
  margin-bottom: 60px;

  svg {
    margin-bottom: 8px;
  }

  .link-search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .nav-items {
      margin-bottom: 10px;
      display: flex;

      .link {
        margin-right: 10px;
        text-decoration: none;
        color: white;
        padding: 8px 12px;
        border-radius: 8px;
        font-weight: bold;

        &.active,
        &:hover {
          color: black;
        }

        &.active {
          background-color: white;
        }

        &:hover {
          background-color: lighten(#565659, 0.7);
        }
      }
    }

    .search-input {
      width: 100%;
    }
  }

  @media screen and (min-width: 520px) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 80px;

    svg {
      margin-bottom: 0;
    }

    .link-search-container {
      flex-direction: row;
      align-items: center;

      .nav-items {
        margin-bottom: 0;
      }

      .search-input {
        width: initial;
      }
    }
  }
}