.search-container {
  .content-container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
  }

  .results-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;

    .pagination-container {
      background-color: #3e3e40;
      border-radius: 8px;

      button {
        color: white;

        &[aria-current=true] {
          background-color: #565659;
        }
      }
    }

    span {
      text-align: right;
      font-size: 12px;
      white-space: nowrap;
    }
  }

  .error-container {
    height: 100%;
    margin-top: 80px;
    text-align: center;

    p {
      line-height: 30px;
    }
  }
}